@model AppointmentConsoleApp.AppointmentInfo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AppointmentInfo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HostUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HostUser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuestUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuestUser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatenTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatenTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subject)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.EmailID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AppointmentID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
